.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .card {
    border:none;
    border-radius: 8px;
    background-color:#f5ca0a;
    text-align:inherit;
    font-size: 35px;
    font-family:fantasy;
    border-style:double;
  
  }
  
  .container1 {
    max-width: 900px;
    margin: 100px auto;
    padding: 10px;
    background-color: white;
    outline: 2px solid black;
    text-align: center;
    background-position: 0cqmax;
    border-style: double;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }
  
  body {
    background-color: orange;
  }
  
  .container2 {
    background-color: white;
    outline: 2px solid black;
    display: grid;
    max-width: 900px;
    margin: 100px auto;
    padding: 10px;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    
    
  }
  
  
  table{
    width: 100%;
  }

  .glass{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}


.header-section {
  margin: 50px 0; /* Ajusta el espaciado superior e inferior */
  text-align: center;
}

.table-responsive {
  overflow-x: auto; /* Permite el scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento táctil */
}

table {
  width: 100%;
  min-width: 600px; /* Define un ancho mínimo para evitar columnas apretadas */
}

.div_Factura {
  margin-top: 70px; /* Baja el componente desde el borde superior */
  padding: 20px; /* Espaciado interno */
  min-height: 35em;
}

@media (max-width: 768px) {
  .div_Factura {
    margin-top: 50px; /* Espaciado reducido en pantallas pequeñas */
  }
}


.table-responsive {
  overflow-x: auto; /* Habilitar scroll horizontal */
}

table {
  width: 100%; /* Asegurar que la tabla ocupe todo el contenedor */
}

th,
td {
  white-space: nowrap; /* Evitar que el contenido se rompa en varias líneas */
}


.table-responsive {
  overflow-x: auto; /* Habilitar scroll horizontal */
}

table {
  width: 100%; /* Asegurar que la tabla ocupe todo el contenedor */
}

th,
td {
  white-space: nowrap; /* Evitar que el contenido se rompa en varias líneas */
}
