/* Asegura que el footer esté en el fondo de la página */
.footer {
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco */
  padding: 10px 0;
  position: fixed; /* Fijamos el footer al fondo */
  bottom: 0; /* Asegura que quede al fondo */
  left: 0;
  width: 100%;
  z-index: 1000; /* Para asegurarnos de que quede encima del contenido */
}

/* Añadir un padding inferior en el body para que el contenido no quede tapado por el footer */
body {
  padding-bottom: 60px; /* Ajusta el valor según el tamaño del footer */
}

/* Flexbox para distribuir los elementos dentro del footer */
.footer .container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 0 20px; /* Espacio a los lados */
}

.footer_copyR {
  padding: 0 2em;
  text-align: left; 
  flex: 1; /* Toma el espacio disponible */
}

.footer_copyR.center {
  text-align: center; /* Centra el texto */
  flex: 1;
}

.footer_media {
  display: flex;
  
  padding: 0 2em;
  gap: 10px; /* Espaciado entre los iconos */
  justify-content: flex-end; /* Alinea las redes sociales a la derecha */
}

.footer_media a {
  display: inline-block;
}

.footer_media img {
  width: 50px;
  height: 50px;
}

.bg-darkk {
  background-color: #000;
}
