/* Estilo principal del navbar */
.mainNav {
  height: 3.5em; /* Tamaño del navbar fijo */
  background-color: #FFD500;
  z-index: 2;
  border-radius: 10px; /* Bordes redondeados */
}

/* Ajuste para el contenedor general del navbar */
.bodyNav {
  height: 5em; /* Mantener el tamaño del navbar */
  overflow: visible;
}

/* Enlaces activos */
.active {
  color: rgb(0, 0, 0) !important;
  font-size: 1.1em;
  font-weight: bold;
}

.nav-link.active,
.dropdown-item.active {
  color: #007bff;
}

/* Botón de hamburguesa */
.hamburger-button {
  margin: 0 auto;
  border: 2px solid black; /* Borde visible siempre */
  background-color: #FFD500; /* Fondo similar al navbar */
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; /* Suaviza los bordes */
  padding: 8px; /* Tamaño adecuado */
}

/* Hover y foco para el botón de hamburguesa */
.hamburger-button:focus,
.hamburger-button:hover {
  outline: none;
  background-color: #FFC107; /* Un color ligeramente más oscuro para el hover */
  border: 2px solid black; /* Asegura que el borde siga visible */
}

/* Menú colapsado */
.navbar-collapse {
  background-color: #FFD500; /* Fondo del menú desplegable */
  text-align: center;
  padding: 1em 0;
  border: 2px solid black; /* Borde visible solo en el menú desplegable */
  border-top: none; /* Elimina el borde superior */
  border-radius: 0 0 10px 10px; /* Bordes inferiores redondeados */
  margin-top: 5px; /* Espacio para separar el menú del botón */
}

.banner {
  color: #343a40; /* Texto oscuro */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  width:  70%;
  margin: auto;
}

.banner p {
  margin: 0;
  line-height: 1.6;
}

.banner strong {
  color: #007bff; /* Destacar el texto inicial */
  font-size: 1.1em;
}

