.mainNav {


    height: 3.5em;
    border: 4px solid black;
    border-radius: 10px;
    /* margin: 0px 1em 0px 1em; */
    background-color: #FFD500;

    z-index: 2;
  }
.bodyNav {

    height: 3.5em;
 
  }
  

  .active {

    color: rgb(0, 0, 0) !important;
    /* background-color: aliceblue; */
    font-size: 1.1em;
    font-weight: bold;
  }



  .nav-link.active, .dropdown-item.active {
  color: #007bff; /* Cambia esto al color que prefieras */
}