*{
    margin: 0;
    padding: 0;
}

#tituloTicket {
    border: none;
}

.ticket {
    border: 2px solid black;
    width: 30vw;
    margin: auto;
    border-radius: 20px;
    background-color:beige;
}

.tablaTicket{
    background-color:blanchedalmond;
    border-radius: 20px;
    position: relative;
    gap: 10px;
    width: 29vw;
    margin: auto;
}



.parteArriba {
    height: 40px;
}

.cuerpoArriba {
    height: 30px;
    margin-top: 10px;
}

.parteMedio {
    height: 40px;
}

.parteBaja{
    height: 40px;
    font-size: 1.3rem;
}

.cuerpoBajo {
    height: 20px;
    font-size: 1.3rem;
}

.imprimir {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}